# This script was created using https://github.com/lukka/CppBuildTasks-Validation/blob/master/.github/workflows/hosted-pure-workflow.yml

name: BSEngine Test

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ master ]

env:
  VCPKG_ROOT: ${{ github.workspace }}/ThirdParty/vcpkg  
  CMAKE_BUILD_DIR: ${{ github.workspace }}/Binaries/
  BUILD_TYPE: Release

jobs:
  build_windows:
    runs-on: windows-latest
    env:
      triplet: x64-windows

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      # Init my submodule (vcpkg, BSMath, BSBase)
      - uses: snickerbockers/submodules-init@v4
      - uses: lukka/get-cmake@latest
      - name: Restore vcpkg and its artifacts.
        uses: actions/cache@v2
        with:
          # The first path is where vcpkg generates artifacts while consuming the vcpkg.json manifest file.
          # The second path is the location of vcpkg (it contains the vcpkg executable and data files).
          # The other paths starting with '!' are exclusions: they contain termporary files generated during the build of the installed packages.
          path: |
            ${{ env.CMAKE_BUILD_DIR }}/vcpkg_installed/
            ${{ env.VCPKG_ROOT }}
            !${{ env.VCPKG_ROOT }}/buildtrees
            !${{ env.VCPKG_ROOT }}/packages
            !${{ env.VCPKG_ROOT }}/downloads
          # The key is composed in a way that it gets properly invalidated: this must happen whenever vcpkg's Git commit id changes, or the list of packages changes. In this case a cache miss must happen and a new entry with a new key with be pushed to GitHub the cache service.
          # The key includes: hash of the vcpkg.json file, the hash of the vcpkg Git commit id, and the used vcpkg's triplet. The vcpkg's commit id would suffice, but computing an hash out it does not harm.
          # Note: given a key, the cache content is immutable. If a cache entry has been created improperly, in order the recreate the right content the key must be changed as well, and it must be brand new (i.e. not existing already).
          key: |
            ${{ hashFiles( 'vcpkg.json' ) }}-${{ hashFiles( '.git/modules/vcpkg/HEAD' ) }}-${{ env.triplet }}-invalidate
      # On Windows runners, let's ensure to have the Developer Command Prompt environment setup correctly. As used here the Developer Command Prompt created is targeting x64 and using the default the Windows SDK.
      - uses: ilammy/msvc-dev-cmd@v1
      # Run CMake to generate Ninja project files, using the vcpkg's toolchain file to resolve and install the dependencies as specified in vcpkg.json.
      - name: Install dependencies and generate project files
        run: ${{ github.workspace }}/Scripts/Setup.bat ${{ env.BUILD_TYPE }}
      # Build the whole project with Ninja (which is spawn by CMake).
      - name: Build
        run: ${{ github.workspace }}/Scripts/Build.bat ${{ env.BUILD_TYPE }}
      - name: Run Test
        working-directory: ${{ github.workspace }}/Binaries/${{ env.BUILD_TYPE }}
        run: ./BSEngine-Tests